@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    word-break: keep-all;
  }
  nav {
    @apply bg-gradient-to-t from-neutral-50/0 via-neutral-50/90 to-neutral-50/100;
  }
}

@layer components {
  .prose code:not(pre code) {
    /* inline code block */
    @apply bg-neutral-200 py-0.5 px-1.5 m-1 rounded-md;
  }
  .prose code::after {
    display: none;
  }
  .prose code::before {
    display: none;
  }

  .prose pre {
    @apply text-sm sm:text-base p-3 md:p-4 !important;
  }

  .prose :is(h1, h2, h3, h4, h5) {
    @apply border-b mb-3 sm:mb-5 pb-2 border-neutral-200;
  }

  .prose h1 {
    @apply text-3xl sm:text-4xl mt-12 sm:mt-20;
  }

  .prose a:hover {
    @apply opacity-70 duration-200;
  }
}
