@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2 {
    word-break: keep-all;
  }
  nav {
    @apply bg-gradient-to-t from-neutral-50/0 via-neutral-50/90 to-neutral-50/100;
  }
}

@layer components {
  .prose code:not(pre code) {
    /* inline code block */
    @apply bg-neutral-200 py-0.5 px-1.5 m-1 rounded-md;
  }
  .prose code::after {
    display: none;
  }
  .prose code::before {
    display: none;
  }

  .prose pre {
    @apply px-3 text-sm md:text-base !important;
  }

  .prose :is(h2, h3, h4, h5) {
    @apply border-b mb-3 sm:mb-5 pb-2 border-neutral-200;
  }

  .prose a:hover {
    @apply opacity-70 duration-200;
  }
}
